@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


@theme {
    --font-outfit: "Outfit", serif;
    --color-filters: #20293AF2;
    --color-btn-active: #4A5567;
    --color-grayV1: #7E869E40;
    --color-primary: #121826;
}